
<div class="footer">

  <a href=" https://www.linkedin.com/in/hsg15/" target="_blank">
    <i class="fa-brands fa-linkedin fa-xl" style="color: #ffffff;"></i>
  </a>
  <a href="https://github.com/HSG15" target="_blank">
    <i class="fa-brands fa-github fa-xl" style="color: #ffffff; padding: 0px 10px;"></i>
  </a>  
  
  <a href="https://instagram.com/m_lucky_15" target="_blank">
    <i class="fa-brands fa-instagram fa-xl" style="color: #ffffff;"></i>
  </a>

  <p style="color: #ffffff; font-family: 'McLaren', cursive; font-family: 'Montserrat', sans-serif;">
    Made with ♡ by Lucky </p>

</div>
